/**

    Le Vinh Thien 2015

 */
html, body{
    font-family: 'Roboto', sans-serif;
    width: 100%;
    height: 100%;
}
section{
    position: relative;
    z-index: 1;
    width: 100%;
    min-height: 100%;
}
/*----------  Background  ----------*/
.bg{
     z-index: 0!important;
    position: absolute;
}
/*----------  MENU  ----------*/
.menu {
    cursor: pointer;
    z-index: 9999;
    position: absolute;
    width: 60px;
    height: 60px;
    top: 30px;
    right: 30px;
    color: #DB0018;
}
.menu i{
    z-index: 9999;
    transition: 0.25s;
    -webkit-transition: 0.25s;
    line-height: 60px;
    height: 60px;
    width: 60px;
}
.menu i:hover{
    color: red;
}
.menu .menu-content{
    position: fixed;
    transform: scale(0);
    top: 20px;
    left: 20px;
    right: 20px;
    bottom: 20px;
    background-color: rgba(0,0,0,0.9);
    z-index: 1;
    transition: 0.5s;
    -webkit-transition: 0.5s;
}
.menu .menu-content ul{
    padding: 0;
    margin: 0;
    margin-top: 15%;
    list-style: none;
}
.menu .menu-content > ul > li{
    text-align: center;
    height: 45px;
    font-size: 30px;
    text-transform: uppercase;
    line-height: 45px;
}
.menu .menu-content > ul > li > a{
    transition: 0.25s;
    -webkit-transition: 0.25s;
    font-family: 'Dosis', sans-serif;
    color: #fff;
    font-weight: 700;
    text-shadow: 0px 0px 1px #000;
}
.menu .menu-content > ul > li > a:hover{
    text-decoration: none;
    color:#DB0018;
    font-size: 35px;
}
.menu-active{
    color: #DB0018;
}
/**

    TODO:
    - enabled
    - disabled

 */
section.enabled{
    transition: 0.5s;
    -webkit-transition: 0.5s;
    transform: scale(1);
    display: block;
}
section.disabled{
    transition: 0.5s;
    -webkit-transition: 0.5s;
    transform: scale(0);
    display: none;
}
/**
 *
 * INTRODUCTION
 *
 */
section#intro{
    position: relative;
    z-index: 1;
    padding: 20px;
    height: 100%;
    background-color: rgba(0,0,0,0.7);
    overflow: hidden;
}
#intro .intro{
    z-index: 1;
    width: 100%;
    height: 100%;
    border: 10px solid rgba(0, 0, 0, 0.5);
}
#intro .logo{
    height: 80px;
}
#intro .content h3{
    font-family: 'Dosis', sans-serif;
    font-weight: 300;
    color: #fff;
    margin-bottom: 30px;
}
#intro .content h1{
    font-family: 'Oswald', sans-serif;
    text-transform: uppercase;
    color: #fff;
    font-size: 180px;
    line-height: 1;
    font-style: normal;
    font-weight: 500;
    letter-spacing: -0.04em;
    padding: 0px;
    text-shadow: 1px 1px 2px #000;
    margin: 10px;
    display: block;
    position: relative;
    height: 75px;
    overflow: hidden;
}

#intro .content .heading-bottom{
    display: block;
    position: relative;
    margin-top: -110px;
}
#intro .content-box{
    width: 250px;
    border: 1px solid #fff;
    padding: 5px;
}
#intro #owl-heading div{
    color: #fff;
    font-family: 'Raleway', sans-serif;
    font-size: 16px;
}
#intro .hr{
    border-top: 1px solid #fff;
    width: 250px;
    margin-top: 30px;
}
#intro .next{
    cursor: pointer;
    transition: 0.5s;
    line-height: 55px;
    text-align: center;
    margin-top: 60px;
    height: 50px;
    width: 50px;
    transform: rotate(45deg);
    -webkit-transform: rotate(45deg);
    background-color: #DB0018;
}
#intro .next:hover{
    box-shadow: 0px 0px 50px #fff;
    transform: rotate(405deg);
    -webkit-transform: rotate(405deg);
}
#intro .next i{
    cursor: pointer;
    color: #fff;
    font-size: 20px;
    transform: rotate(-45deg);
    -webkit-transform: rotate(-45deg);
}
#particles-holder{
    position: fixed!important;
}
/**
 *
 * ABOUT
 *
 */
section{
    color: #000;
    background-color: #fff;
}
section h1, #about h3{
    text-shadow: 0px 0px 1px #000;
}
section h1.heading{
    font-family: 'Dosis', sans-serif;
    text-transform: uppercase;
    font-weight: 600;
    font-size: 60px;
    margin-top: 100px;
}
section h3.sub-heading{
    font-weight: 100;
    font-family: 'Raleway', sans-serif;
}
/**
 *
 * @media
 *
 */
@media screen and (max-width: 768px) {
    section#intro{
        padding: 0;
    }
    #intro .intro{
        border: none;
    }
    #intro .logo{
        height: 60px;
    }
    .menu i{
        font-size: 40px;
        line-height: 40px;
        width: 40px;
        height: 40px;
    }
    .menu {
        text-align: center;
        width: 40px;
        height: 40px;
        top: 0px;
        right: 0px;
    }
    .menu .menu-content{
        top: 0px;
        left: 0px;
        right: 0px;
        bottom: 0px;
    }
    .menu .menu-content ul{
        margin-top: 35%;
    }
    #intro .content h1{
        font-size: 150px;
        height: 50px;
    }
    #intro .hr{
        width: 200px;
    }
    #intro .content-box{
        width: 200px;
    }
    #intro .content .heading-bottom{
        display: block;
        position: relative;
        margin-top: -95px;
    }


}